notib-client/src/main/resources/es/caib/notib/client/wsdl/NotificacioServiceWs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotificacioService" targetNamespace="http://www.caib.es/notib/ws/notificacio" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.caib.es/notib/ws/notificacio" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.caib.es/notib/ws/notificacio" xmlns:tns="http://www.caib.es/notib/ws/notificacio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="alta" type="tns:alta"/>
<xs:element name="altaResponse" type="tns:altaResponse"/>
<xs:element name="consulta" type="tns:consulta"/>
<xs:element name="consultaResponse" type="tns:consultaResponse"/>
<xs:element name="informacioEnviament" type="tns:informacioEnviament"/>
<xs:element name="notificacio" type="tns:notificacio"/>
<xs:complexType name="alta">
<xs:sequence>
<xs:element name="notificacio" type="tns:notificacio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="notificacio">
<xs:sequence>
<xs:element minOccurs="0" name="caducitat" type="xs:dateTime"/>
<xs:element minOccurs="0" name="concepte" type="xs:string"/>
<xs:element minOccurs="0" name="descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="document" type="tns:document"/>
<xs:element minOccurs="0" name="emisorDir3Codi" type="xs:string"/>
<xs:element minOccurs="0" name="enviamentDataProgramada" type="xs:dateTime"/>
<xs:element minOccurs="0" name="enviamentTipus" type="tns:enviamentTipusEnum"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="enviaments" nillable="true" type="tns:enviament"/>
<xs:element minOccurs="0" name="pagadorCie" type="tns:pagadorCie"/>
<xs:element minOccurs="0" name="pagadorPostal" type="tns:pagadorPostal"/>
<xs:element minOccurs="0" name="parametresSeu" type="tns:parametresSeu"/>
<xs:element minOccurs="0" name="procedimentCodi" type="xs:string"/>
<xs:element minOccurs="0" name="retard" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="document">
<xs:sequence>
<xs:element minOccurs="0" name="arxiuNom" type="xs:string"/>
<xs:element minOccurs="0" name="contingutBase64" type="xs:string"/>
<xs:element name="generarCsv" type="xs:boolean"/>
<xs:element minOccurs="0" name="hash" type="xs:string"/>
<xs:element minOccurs="0" name="metadades" type="xs:string"/>
<xs:element name="normalitzat" type="xs:boolean"/>
<xs:element minOccurs="0" name="url" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviament">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="destinataris" nillable="true" type="tns:persona"/>
<xs:element minOccurs="0" name="entregaDeh" type="tns:entregaDeh"/>
<xs:element minOccurs="0" name="entregaPostal" type="tns:entregaPostal"/>
<xs:element minOccurs="0" name="referencia" type="xs:string"/>
<xs:element minOccurs="0" name="serveiTipus" type="tns:serveiTipusEnum"/>
<xs:element minOccurs="0" name="titular" type="tns:persona"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="persona">
<xs:sequence>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="llinatge1" type="xs:string"/>
<xs:element minOccurs="0" name="llinatge2" type="xs:string"/>
<xs:element minOccurs="0" name="nif" type="xs:string"/>
<xs:element minOccurs="0" name="nom" type="xs:string"/>
<xs:element minOccurs="0" name="telefon" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="entregaDeh">
<xs:sequence>
<xs:element name="obligat" type="xs:boolean"/>
<xs:element minOccurs="0" name="procedimentCodi" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="entregaPostal">
<xs:sequence>
<xs:element minOccurs="0" name="apartatCorreus" type="xs:string"/>
<xs:element minOccurs="0" name="bloc" type="xs:string"/>
<xs:element minOccurs="0" name="cie" type="xs:int"/>
<xs:element minOccurs="0" name="codiPostal" type="xs:string"/>
<xs:element minOccurs="0" name="complement" type="xs:string"/>
<xs:element minOccurs="0" name="escala" type="xs:string"/>
<xs:element minOccurs="0" name="formatFulla" type="xs:string"/>
<xs:element minOccurs="0" name="formatSobre" type="xs:string"/>
<xs:element minOccurs="0" name="linea1" type="xs:string"/>
<xs:element minOccurs="0" name="linea2" type="xs:string"/>
<xs:element minOccurs="0" name="municipiCodi" type="xs:string"/>
<xs:element minOccurs="0" name="numeroCasa" type="xs:string"/>
<xs:element minOccurs="0" name="numeroQualificador" type="xs:string"/>
<xs:element minOccurs="0" name="paisCodi" type="xs:string"/>
<xs:element minOccurs="0" name="planta" type="xs:string"/>
<xs:element minOccurs="0" name="poblacio" type="xs:string"/>
<xs:element minOccurs="0" name="porta" type="xs:string"/>
<xs:element minOccurs="0" name="portal" type="xs:string"/>
<xs:element minOccurs="0" name="provinciaCodi" type="xs:string"/>
<xs:element minOccurs="0" name="puntKm" type="xs:string"/>
<xs:element minOccurs="0" name="tipus" type="tns:entregaPostalTipusEnum"/>
<xs:element minOccurs="0" name="viaNom" type="xs:string"/>
<xs:element minOccurs="0" name="viaTipus" type="tns:entregaPostalViaTipusEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="pagadorCie">
<xs:sequence>
<xs:element minOccurs="0" name="contracteDataVigencia" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dir3Codi" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="pagadorPostal">
<xs:sequence>
<xs:element minOccurs="0" name="contracteDataVigencia" type="xs:dateTime"/>
<xs:element minOccurs="0" name="contracteNum" type="xs:string"/>
<xs:element minOccurs="0" name="dir3Codi" type="xs:string"/>
<xs:element minOccurs="0" name="facturacioClientCodi" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="parametresSeu">
<xs:sequence>
<xs:element minOccurs="0" name="avisText" type="xs:string"/>
<xs:element minOccurs="0" name="avisTextMobil" type="xs:string"/>
<xs:element minOccurs="0" name="avisTitol" type="xs:string"/>
<xs:element minOccurs="0" name="expedientIdentificadorEni" type="xs:string"/>
<xs:element minOccurs="0" name="expedientSerieDocumental" type="xs:string"/>
<xs:element minOccurs="0" name="expedientTitol" type="xs:string"/>
<xs:element minOccurs="0" name="expedientUnitatOrganitzativa" type="xs:string"/>
<xs:element minOccurs="0" name="idioma" type="xs:string"/>
<xs:element minOccurs="0" name="oficiText" type="xs:string"/>
<xs:element minOccurs="0" name="oficiTitol" type="xs:string"/>
<xs:element minOccurs="0" name="registreLlibre" type="xs:string"/>
<xs:element minOccurs="0" name="registreOficina" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="altaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consulta">
<xs:sequence>
<xs:element name="referencia" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:informacioEnviament"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="informacioEnviament">
<xs:sequence>
<xs:element minOccurs="0" name="certificacio" type="tns:certificacio"/>
<xs:element minOccurs="0" name="concepte" type="xs:string"/>
<xs:element minOccurs="0" name="dataCaducitat" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataCreacio" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dataPostaDisposicio" type="xs:dateTime"/>
<xs:element minOccurs="0" name="descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="destiDir3Codi" type="xs:string"/>
<xs:element minOccurs="0" name="destiDir3Descripcio" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="destinataris" nillable="true" type="tns:persona"/>
<xs:element minOccurs="0" name="emisorArrelDir3Codi" type="xs:string"/>
<xs:element minOccurs="0" name="emisorArrelDir3Descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="emisorDir3Codi" type="xs:string"/>
<xs:element minOccurs="0" name="emisorDir3Descripcio" type="xs:string"/>
<xs:element minOccurs="0" name="entregaDeh" type="tns:entregaDeh"/>
<xs:element minOccurs="0" name="entregaPostal" type="tns:entregaPostal"/>
<xs:element minOccurs="0" name="enviamentTipus" type="tns:enviamentTipusEnum"/>
<xs:element minOccurs="0" name="estat" type="tns:enviamentEstatEnum"/>
<xs:element minOccurs="0" name="identificador" type="xs:string"/>
<xs:element name="notificaError" type="xs:boolean"/>
<xs:element minOccurs="0" name="notificaErrorData" type="xs:dateTime"/>
<xs:element minOccurs="0" name="notificaErrorDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="notificaEstat" type="tns:enviamentEstatEnum"/>
<xs:element minOccurs="0" name="procedimentCodi" type="xs:string"/>
<xs:element minOccurs="0" name="procedimentDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="referencia" type="xs:string"/>
<xs:element minOccurs="0" name="retard" type="xs:int"/>
<xs:element name="seuError" type="xs:boolean"/>
<xs:element minOccurs="0" name="seuErrorData" type="xs:dateTime"/>
<xs:element minOccurs="0" name="seuErrorDescripcio" type="xs:string"/>
<xs:element minOccurs="0" name="seuEstat" type="tns:enviamentEstatEnum"/>
<xs:element minOccurs="0" name="titular" type="tns:persona"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="certificacio">
<xs:sequence>
<xs:element minOccurs="0" name="contingutBase64" type="xs:string"/>
<xs:element minOccurs="0" name="csv" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:dateTime"/>
<xs:element minOccurs="0" name="hash" type="xs:string"/>
<xs:element minOccurs="0" name="metadades" type="xs:string"/>
<xs:element minOccurs="0" name="origen" type="xs:string"/>
<xs:element name="tamany" type="xs:int"/>
<xs:element minOccurs="0" name="tipusMime" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="enviamentTipusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NOTIFICACIO"/>
<xs:enumeration value="COMUNICACIO"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="entregaPostalTipusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NACIONAL"/>
<xs:enumeration value="ESTRANGER"/>
<xs:enumeration value="APARTAT_CORREUS"/>
<xs:enumeration value="SENSE_NORMALITZAR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="entregaPostalViaTipusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ALAMEDA"/>
<xs:enumeration value="CALLE"/>
<xs:enumeration value="CAMINO"/>
<xs:enumeration value="CARRER"/>
<xs:enumeration value="CARRETERA"/>
<xs:enumeration value="GLORIETA"/>
<xs:enumeration value="KALEA"/>
<xs:enumeration value="PASAJE"/>
<xs:enumeration value="PASEO"/>
<xs:enumeration value="PLAÇA"/>
<xs:enumeration value="PLAZA"/>
<xs:enumeration value="RAMBLA"/>
<xs:enumeration value="RONDA"/>
<xs:enumeration value="RUA"/>
<xs:enumeration value="SECTOR"/>
<xs:enumeration value="TRAVESIA"/>
<xs:enumeration value="URBANIZACION"/>
<xs:enumeration value="AVENIDA"/>
<xs:enumeration value="AVINGUDA"/>
<xs:enumeration value="BARRIO"/>
<xs:enumeration value="CALLEJA"/>
<xs:enumeration value="CAMI"/>
<xs:enumeration value="CAMPO"/>
<xs:enumeration value="CARRERA"/>
<xs:enumeration value="CUESTA"/>
<xs:enumeration value="EDIFICIO"/>
<xs:enumeration value="ENPARANTZA"/>
<xs:enumeration value="ESTRADA"/>
<xs:enumeration value="JARDINES"/>
<xs:enumeration value="JARDINS"/>
<xs:enumeration value="PARQUE"/>
<xs:enumeration value="PASSEIG"/>
<xs:enumeration value="PRAZA"/>
<xs:enumeration value="PLAZUELA"/>
<xs:enumeration value="PLACETA"/>
<xs:enumeration value="POBLADO"/>
<xs:enumeration value="VIA"/>
<xs:enumeration value="TRAVESSERA"/>
<xs:enumeration value="PASSATGE"/>
<xs:enumeration value="BULEVAR"/>
<xs:enumeration value="POLIGONO"/>
<xs:enumeration value="OTROS"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="serveiTipusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="URGENT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="enviamentEstatEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="NOTIB_PENDENT"/>
<xs:enumeration value="NOTIB_ENVIADA"/>
<xs:enumeration value="ABSENT"/>
<xs:enumeration value="ADRESA_INCORRECTA"/>
<xs:enumeration value="DESCONEGUT"/>
<xs:enumeration value="ENVIADA_CI"/>
<xs:enumeration value="ENVIADA_DEH"/>
<xs:enumeration value="ENVIAMENT_PROGRAMAT"/>
<xs:enumeration value="ENTREGADA_OP"/>
<xs:enumeration value="ERROR_ENTREGA"/>
<xs:enumeration value="EXPIRADA"/>
<xs:enumeration value="EXTRAVIADA"/>
<xs:enumeration value="MORT"/>
<xs:enumeration value="LLEGIDA"/>
<xs:enumeration value="NOTIFICADA"/>
<xs:enumeration value="PENDENT_ENVIAMENT"/>
<xs:enumeration value="PENDENT_SEU"/>
<xs:enumeration value="PENDENT_CIE"/>
<xs:enumeration value="PENDENT_DEH"/>
<xs:enumeration value="REBUTJADA"/>
<xs:enumeration value="SENSE_INFORMACIO"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="NotificacioServiceWsException" type="tns:NotificacioServiceWsException"/>
<xs:complexType name="NotificacioServiceWsException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consulta">
    <wsdl:part element="tns:consulta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaResponse">
    <wsdl:part element="tns:consultaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaResponse">
    <wsdl:part element="tns:altaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alta">
    <wsdl:part element="tns:alta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotificacioServiceWsException">
    <wsdl:part element="tns:NotificacioServiceWsException" name="NotificacioServiceWsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NotificacioService">
    <wsdl:operation name="alta">
      <wsdl:input message="tns:alta" name="alta">
    </wsdl:input>
      <wsdl:output message="tns:altaResponse" name="altaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NotificacioServiceWsException" name="NotificacioServiceWsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <wsdl:input message="tns:consulta" name="consulta">
    </wsdl:input>
      <wsdl:output message="tns:consultaResponse" name="consultaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NotificacioServiceWsException" name="NotificacioServiceWsException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificacioServiceSoapBinding" type="tns:NotificacioService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="alta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="alta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="altaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotificacioServiceWsException">
        <soap:fault name="NotificacioServiceWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consulta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotificacioServiceWsException">
        <soap:fault name="NotificacioServiceWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificacioService">
    <wsdl:port binding="tns:NotificacioServiceSoapBinding" name="NotificacioServicePort">
      <soap:address location="http://127.0.0.1:8080/notib/ws/notificacio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>