notib-plugin/src/main/resources/es/caib/notib/plugin/wsdl/sistra/redose/ReferenciaRDS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:es:caib:redose:ws:v2:model:ReferenciaRDS" version="1.0" xmlns:tns="urn:es:caib:redose:ws:v2:model:ReferenciaRDS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ReferenciaRDS">
		<xs:sequence>
			<xs:element name="codigo" type="xs:long"/>
			<xs:element name="clave" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>