notib-plugin-impl/src/main/resources/es/caib/notib/plugin/wsdl/regweb3/AsientoRegistral.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.v3.ws.regweb3.caib.es/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="AsientoRegistralWsService" targetNamespace="http://impl.v3.ws.regweb3.caib.es/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://impl.v3.ws.regweb3.caib.es/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://impl.v3.ws.regweb3.caib.es/">
			<xs:element name="anexoWs" type="tns:anexoWs" />
			<xs:element name="asientoRegistralBean" type="tns:asientoRegistralBean" />
			<xs:element name="comunicarAsientoRegistral" type="tns:comunicarAsientoRegistral" />
			<xs:element name="comunicarAsientoRegistralResponse" type="tns:comunicarAsientoRegistralResponse" />
			<xs:element name="crearAsientoRegistral" type="tns:crearAsientoRegistral" />
			<xs:element name="crearAsientoRegistralResponse" type="tns:crearAsientoRegistralResponse" />
			<xs:element name="datosInteresadoWs" type="tns:datosInteresadoWs" />
			<xs:element name="distribuirAsientoRegistral" type="tns:distribuirAsientoRegistral" />
			<xs:element name="distribuirAsientoRegistralResponse"
				type="tns:distribuirAsientoRegistralResponse" />
			<xs:element name="interesadoWs" type="tns:interesadoWs" />
			<xs:element name="justificanteWs" type="tns:justificanteWs" />
			<xs:element name="obtenerAsientoRegistral" type="tns:obtenerAsientoRegistral" />
			<xs:element name="obtenerAsientoRegistralResponse" type="tns:obtenerAsientoRegistralResponse" />
			<xs:element name="obtenerJustificante" type="tns:obtenerJustificante" />
			<xs:element name="obtenerJustificanteResponse" type="tns:obtenerJustificanteResponse" />
			<xs:element name="obtenerOficioExterno" type="tns:obtenerOficioExterno" />
			<xs:element name="obtenerOficioExternoResponse" type="tns:obtenerOficioExternoResponse" />
			<xs:element name="oficioBean" type="tns:oficioBean" />
			<xs:complexType name="obtenerJustificante">
				<xs:sequence>
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="numeroRegistroFormateado"
						type="xs:string" />
					<xs:element minOccurs="0" name="libro" type="xs:string" />
					<xs:element minOccurs="0" name="tipoRegistro" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obtenerJustificanteResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:justificanteWs" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="justificanteWs">
				<xs:sequence>
					<xs:element minOccurs="0" name="justificante" type="xs:base64Binary" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="wsFieldValidationError">
				<xs:sequence>
					<xs:element name="label" type="xs:string" />
					<xs:element name="field" type="xs:string" />
					<xs:element name="translation" type="tns:wsI18NTranslation" />
					<xs:element name="error" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="wsI18NTranslation">
				<xs:sequence>
					<xs:element minOccurs="0" name="code" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="args"
						type="tns:wsI18NArgument" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="wsI18NArgument">
				<xs:sequence>
					<xs:element minOccurs="0" name="value" type="xs:string" />
					<xs:element name="translate" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obtenerOficioExterno">
				<xs:sequence>
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="numeroRegistroFormateado"
						type="xs:string" />
					<xs:element minOccurs="0" name="libro" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obtenerOficioExternoResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:oficioBean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="oficioBean">
				<xs:sequence>
					<xs:element minOccurs="0" name="oficio" type="xs:base64Binary" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="distribuirAsientoRegistral">
				<xs:sequence>
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="numeroRegistroFormateado"
						type="xs:string" />
					<xs:element minOccurs="0" name="libro" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="distribuirAsientoRegistralResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="obtenerAsientoRegistral">
				<xs:sequence>
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="numeroRegistroFormateado"
						type="xs:string" />
					<xs:element minOccurs="0" name="libro" type="xs:string" />
					<xs:element minOccurs="0" name="tipoRegistro" type="xs:long" />
					<xs:element name="conAnexos" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obtenerAsientoRegistralResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:asientoRegistralBean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="asientoRegistralBean">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="anexos"
						nillable="true" type="tns:anexoWs" />
					<xs:element minOccurs="0" name="aplicacion" type="xs:string" />
					<xs:element minOccurs="0" name="aplicacionTelematica"
						type="xs:string" />
					<xs:element minOccurs="0" name="codigoAsunto" type="xs:string" />
					<xs:element minOccurs="0" name="codigoAsuntoDenominacion"
						type="xs:string" />
					<xs:element minOccurs="0" name="codigoError" type="xs:string" />
					<xs:element minOccurs="0" name="codigoSia" type="xs:long" />
					<xs:element minOccurs="0" name="codigoUsuario" type="xs:string" />
					<xs:element minOccurs="0" name="descripcionError" type="xs:string" />
					<xs:element minOccurs="0" name="entidadCodigo" type="xs:string" />
					<xs:element minOccurs="0" name="entidadDenominacion"
						type="xs:string" />
					<xs:element minOccurs="0" name="entidadRegistralDestinoCodigo"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="entidadRegistralDestinoDenominacion" type="xs:string" />
					<xs:element minOccurs="0" name="entidadRegistralInicioCodigo"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="entidadRegistralInicioDenominacion" type="xs:string" />
					<xs:element minOccurs="0" name="entidadRegistralOrigenCodigo"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="entidadRegistralOrigenDenominacion" type="xs:string" />
					<xs:element minOccurs="0" name="estado" type="xs:long" />
					<xs:element minOccurs="0" name="expone" type="xs:string" />
					<xs:element minOccurs="0" name="fechaRecepcion" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
					<xs:element minOccurs="0" name="fechaRegistroDestino"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="identificadorIntercambio"
						type="xs:string" />
					<xs:element minOccurs="0" name="idioma" type="xs:long" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="interesados" nillable="true" type="tns:interesadoWs" />
					<xs:element minOccurs="0" name="libroCodigo" type="xs:string" />
					<xs:element minOccurs="0" name="motivo" type="xs:string" />
					<xs:element minOccurs="0" name="numeroExpediente" type="xs:string" />
					<xs:element name="numeroRegistro" type="xs:int" />
					<xs:element minOccurs="0" name="numeroRegistroDestino"
						type="xs:string" />
					<xs:element minOccurs="0" name="numeroRegistroFormateado"
						type="xs:string" />
					<xs:element minOccurs="0" name="numeroTransporte" type="xs:string" />
					<xs:element minOccurs="0" name="observaciones" type="xs:string" />
					<xs:element name="presencial" type="xs:boolean" />
					<xs:element minOccurs="0" name="referenciaExterna" type="xs:string" />
					<xs:element minOccurs="0" name="resumen" type="xs:string" />
					<xs:element minOccurs="0" name="solicita" type="xs:string" />
					<xs:element minOccurs="0" name="tipoAsunto" type="xs:string" />
					<xs:element minOccurs="0" name="tipoAsuntoDenominacion"
						type="xs:string" />
					<xs:element minOccurs="0" name="tipoDocumentacionFisicaCodigo"
						type="xs:long" />
					<xs:element minOccurs="0" name="tipoEnvioDocumentacion"
						type="xs:string" />
					<xs:element minOccurs="0" name="tipoRegistro" type="xs:long" />
					<xs:element minOccurs="0" name="tipoTransporte" type="xs:string" />
					<xs:element minOccurs="0" name="unidadTramitacionDestinoCodigo"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="unidadTramitacionDestinoDenominacion" type="xs:string" />
					<xs:element minOccurs="0" name="unidadTramitacionOrigenCodigo"
						type="xs:string" />
					<xs:element minOccurs="0"
						name="unidadTramitacionOrigenDenominacion" type="xs:string" />
					<xs:element minOccurs="0" name="version" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="anexoWs">
				<xs:sequence>
					<xs:element minOccurs="0" name="titulo" type="xs:string" />
					<xs:element minOccurs="0" name="nombreFicheroAnexado"
						type="xs:string" />
					<xs:element minOccurs="0" name="ficheroAnexado" type="xs:base64Binary" />
					<xs:element minOccurs="0" name="tipoMIMEFicheroAnexado"
						type="xs:string" />
					<xs:element minOccurs="0" name="tipoDocumental" type="xs:string" />
					<xs:element minOccurs="0" name="validezDocumento" type="xs:string" />
					<xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
					<xs:element minOccurs="0" name="observaciones" type="xs:string" />
					<xs:element minOccurs="0" name="origenCiudadanoAdmin"
						type="xs:int" />
					<xs:element minOccurs="0" name="fechaCaptura" type="xs:dateTime" />
					<xs:element minOccurs="0" name="modoFirma" type="xs:int" />
					<xs:element minOccurs="0" name="nombreFirmaAnexada"
						type="xs:string" />
					<xs:element minOccurs="0" name="firmaAnexada" type="xs:base64Binary" />
					<xs:element minOccurs="0" name="tipoMIMEFirmaAnexada"
						type="xs:string" />
					<xs:element minOccurs="0" name="csv" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="interesadoWs">
				<xs:sequence>
					<xs:element minOccurs="0" name="interesado" type="tns:datosInteresadoWs" />
					<xs:element minOccurs="0" name="representante" type="tns:datosInteresadoWs" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="datosInteresadoWs">
				<xs:sequence>
					<xs:element minOccurs="0" name="apellido1" type="xs:string" />
					<xs:element minOccurs="0" name="apellido2" type="xs:string" />
					<xs:element minOccurs="0" name="canal" type="xs:long" />
					<xs:element minOccurs="0" name="codigoDire" type="xs:string" />
					<xs:element minOccurs="0" name="cp" type="xs:string" />
					<xs:element minOccurs="0" name="direccion" type="xs:string" />
					<xs:element minOccurs="0" name="direccionElectronica"
						type="xs:string" />
					<xs:element minOccurs="0" name="documento" type="xs:string" />
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="localidad" type="xs:long" />
					<xs:element minOccurs="0" name="nombre" type="xs:string" />
					<xs:element minOccurs="0" name="observaciones" type="xs:string" />
					<xs:element minOccurs="0" name="pais" type="xs:long" />
					<xs:element minOccurs="0" name="provincia" type="xs:long" />
					<xs:element minOccurs="0" name="razonSocial" type="xs:string" />
					<xs:element minOccurs="0" name="telefono" type="xs:string" />
					<xs:element minOccurs="0" name="tipoDocumentoIdentificacion"
						type="xs:string" />
					<xs:element minOccurs="0" name="tipoInteresado" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="comunicarAsientoRegistral">
				<xs:sequence>
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="asientoRegistral"
						type="tns:asientoRegistralBean" />
					<xs:element minOccurs="0" name="tipoOperacion" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="comunicarAsientoRegistralResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:asientoRegistralBean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="crearAsientoRegistral">
				<xs:sequence>
					<xs:element minOccurs="0" name="entidad" type="xs:string" />
					<xs:element minOccurs="0" name="asientoRegistral"
						type="tns:asientoRegistralBean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="crearAsientoRegistralResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:asientoRegistralBean" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="WsValidationErrors" type="tns:WsValidationErrors" />
			<xs:complexType name="WsValidationErrors">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="fieldFaults" type="tns:wsFieldValidationError" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="WsI18NError" type="tns:WsI18NError" />
			<xs:complexType name="WsI18NError">
				<xs:sequence>
					<xs:element name="translation" nillable="true"
						type="tns:wsI18NTranslation" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="obtenerJustificante">
		<wsdl:part element="tns:obtenerJustificante" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerOficioExternoResponse">
		<wsdl:part element="tns:obtenerOficioExternoResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="WsI18NException">
		<wsdl:part element="tns:WsI18NError" name="WsI18NException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="distribuirAsientoRegistralResponse">
		<wsdl:part element="tns:distribuirAsientoRegistralResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerAsientoRegistralResponse">
		<wsdl:part element="tns:obtenerAsientoRegistralResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="crearAsientoRegistral">
		<wsdl:part element="tns:crearAsientoRegistral" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="comunicarAsientoRegistral">
		<wsdl:part element="tns:comunicarAsientoRegistral" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerOficioExterno">
		<wsdl:part element="tns:obtenerOficioExterno" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="distribuirAsientoRegistral">
		<wsdl:part element="tns:distribuirAsientoRegistral" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="crearAsientoRegistralResponse">
		<wsdl:part element="tns:crearAsientoRegistralResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerAsientoRegistral">
		<wsdl:part element="tns:obtenerAsientoRegistral" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="comunicarAsientoRegistralResponse">
		<wsdl:part element="tns:comunicarAsientoRegistralResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerJustificanteResponse">
		<wsdl:part element="tns:obtenerJustificanteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="WsValidationException">
		<wsdl:part element="tns:WsValidationErrors" name="WsValidationException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AsientoRegistralWs">
		<wsdl:operation name="obtenerJustificante">
			<wsdl:input message="tns:obtenerJustificante" name="obtenerJustificante">
			</wsdl:input>
			<wsdl:output message="tns:obtenerJustificanteResponse"
				name="obtenerJustificanteResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WsValidationException" name="WsValidationException">
			</wsdl:fault>
			<wsdl:fault message="tns:WsI18NException" name="WsI18NException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerOficioExterno">
			<wsdl:input message="tns:obtenerOficioExterno" name="obtenerOficioExterno">
			</wsdl:input>
			<wsdl:output message="tns:obtenerOficioExternoResponse"
				name="obtenerOficioExternoResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WsValidationException" name="WsValidationException">
			</wsdl:fault>
			<wsdl:fault message="tns:WsI18NException" name="WsI18NException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="distribuirAsientoRegistral">
			<wsdl:input message="tns:distribuirAsientoRegistral" name="distribuirAsientoRegistral">
			</wsdl:input>
			<wsdl:output message="tns:distribuirAsientoRegistralResponse"
				name="distribuirAsientoRegistralResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WsValidationException" name="WsValidationException">
			</wsdl:fault>
			<wsdl:fault message="tns:WsI18NException" name="WsI18NException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerAsientoRegistral">
			<wsdl:input message="tns:obtenerAsientoRegistral" name="obtenerAsientoRegistral">
			</wsdl:input>
			<wsdl:output message="tns:obtenerAsientoRegistralResponse"
				name="obtenerAsientoRegistralResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WsValidationException" name="WsValidationException">
			</wsdl:fault>
			<wsdl:fault message="tns:WsI18NException" name="WsI18NException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="comunicarAsientoRegistral">
			<wsdl:input message="tns:comunicarAsientoRegistral" name="comunicarAsientoRegistral">
			</wsdl:input>
			<wsdl:output message="tns:comunicarAsientoRegistralResponse"
				name="comunicarAsientoRegistralResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WsValidationException" name="WsValidationException">
			</wsdl:fault>
			<wsdl:fault message="tns:WsI18NException" name="WsI18NException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="crearAsientoRegistral">
			<wsdl:input message="tns:crearAsientoRegistral" name="crearAsientoRegistral">
			</wsdl:input>
			<wsdl:output message="tns:crearAsientoRegistralResponse"
				name="crearAsientoRegistralResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WsValidationException" name="WsValidationException">
			</wsdl:fault>
			<wsdl:fault message="tns:WsI18NException" name="WsI18NException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AsientoRegistralWsServiceSoapBinding"
		type="tns:AsientoRegistralWs">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenerJustificante">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="obtenerJustificante">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerJustificanteResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WsValidationException">
				<soap:fault name="WsValidationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="WsI18NException">
				<soap:fault name="WsI18NException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerOficioExterno">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="obtenerOficioExterno">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerOficioExternoResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WsValidationException">
				<soap:fault name="WsValidationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="WsI18NException">
				<soap:fault name="WsI18NException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="distribuirAsientoRegistral">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="distribuirAsientoRegistral">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="distribuirAsientoRegistralResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WsValidationException">
				<soap:fault name="WsValidationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="WsI18NException">
				<soap:fault name="WsI18NException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerAsientoRegistral">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="obtenerAsientoRegistral">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerAsientoRegistralResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WsValidationException">
				<soap:fault name="WsValidationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="WsI18NException">
				<soap:fault name="WsI18NException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="comunicarAsientoRegistral">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="comunicarAsientoRegistral">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="comunicarAsientoRegistralResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WsValidationException">
				<soap:fault name="WsValidationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="WsI18NException">
				<soap:fault name="WsI18NException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="crearAsientoRegistral">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="crearAsientoRegistral">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="crearAsientoRegistralResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WsValidationException">
				<soap:fault name="WsValidationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="WsI18NException">
				<soap:fault name="WsI18NException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AsientoRegistralWsService">
		<wsdl:port binding="tns:AsientoRegistralWsServiceSoapBinding"
			name="AsientoRegistralWs">
			<soap:address location="http://registre3:8080/regweb3/ws/v3/AsientoRegistral" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>