notib-plugin-impl/src/main/resources/es/caib/notib/plugin/wsdl/sistra/redose/TransformacionRDS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:es:caib:redose:ws:v2:model:TransformacionRDS" version="1.0" xmlns:tns="urn:es:caib:redose:ws:v2:model:TransformacionRDS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="TransformacionRDS">
		<xs:sequence>
			<xs:element name="convertToPDF" type="xs:boolean"/>
			<xs:element name="barcodePDF" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>