notib-core/src/main/resources/es/caib/notib/core/wsdl/NotificaWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" name="NotificaWsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="altaEnvio" type="tns:altaEnvio"/>

      <xs:element name="altaEnvioResponse" type="tns:altaEnvioResponse"/>

      <xs:element name="consultaCertificacionEnvio" type="tns:consultaCertificacionEnvio"/>

      <xs:element name="consultaCertificacionEnvioResponse" type="tns:consultaCertificacionEnvioResponse"/>

      <xs:element name="consultaCies" type="tns:consultaCies"/>

      <xs:element name="consultaCiesResponse" type="tns:consultaCiesResponse"/>

      <xs:element name="consultaDatadoEnvio" type="tns:consultaDatadoEnvio"/>

      <xs:element name="consultaDatadoEnvioResponse" type="tns:consultaDatadoEnvioResponse"/>

      <xs:element name="consultaEstado" type="tns:consultaEstado"/>

      <xs:element name="consultaEstadoResponse" type="tns:consultaEstadoResponse"/>

      <xs:element name="infoEnvio" type="tns:infoEnvio"/>

      <xs:element name="infoEnvioResponse" type="tns:infoEnvioResponse"/>

      <xs:complexType name="consultaEstado">
        <xs:sequence>
          <xs:element name="identificador_envio" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultaEstadoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultado_estado" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultado_estado">
        <xs:all>
          <xs:element name="estado" type="tns:estado_respuesta"/>
          <xs:element name="codigo_respuesta" type="xs:string"/>
          <xs:element name="descripcion_respuesta" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="estado_respuesta">
        <xs:all>
          <xs:element name="identificador_envio" type="xs:string"/>
          <xs:element name="estado" type="xs:string"/>
          <xs:element name="ncc_id_externo" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="consultaDatadoEnvio">
        <xs:sequence>
          <xs:element name="identificador_envio" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultaDatadoEnvioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultado_datado" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultado_datado">
        <xs:all>
          <xs:element name="datado" type="tns:datado_envio"/>
          <xs:element name="codigo_respuesta" type="xs:string"/>
          <xs:element name="descripcion_respuesta" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="datado_envio">
        <xs:all>
          <xs:element name="identificador_envio" type="tns:identificador_envio"/>
          <xs:element name="datado" type="tns:ArrayOfTipoIntento"/>
          <xs:element name="estado_actual" type="xs:string"/>
          <xs:element name="descripcion_estado_actual" type="xs:string"/>
          <xs:element name="fecha_actualizacion" type="xs:dateTime"/>
          <xs:element name="ncc_id_externo" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="identificador_envio">
        <xs:all>
          <xs:element name="identificador" type="xs:string"/>
          <xs:element name="referencia_emisor" type="xs:string"/>
          <xs:element name="nif_titular" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="ArrayOfTipoIntento">
        <xs:sequence>
          <xs:element name="item" type="tns:tipoIntento" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tipoIntento">
        <xs:all>
          <xs:element name="estado" type="xs:string"/>
          <xs:element name="descripcion" type="xs:string"/>
          <xs:element name="fecha" type="xs:dateTime"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="consultaCertificacionEnvio">
        <xs:sequence>
          <xs:element name="identificador_envio" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultaCertificacionEnvioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultado_certificacion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultado_certificacion">
        <xs:all>
          <xs:element name="certificacion" type="tns:certificacion_envio_respuesta"/>
          <xs:element name="codigo_respuesta" type="xs:string"/>
          <xs:element name="descripcion_respuesta" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="certificacion_envio_respuesta">
        <xs:all>
          <xs:element name="identificador_envio" type="tns:identificador_envio"/>
          <xs:element name="pdf_certificado" type="xs:string" nillable="true"/>
          <xs:element name="xml_certificado" type="xs:string" nillable="true"/>
          <xs:element name="certificacion" type="xs:string"/>
          <xs:element name="fecha_actualizacion" type="xs:dateTime"/>
          <xs:element name="ncc_id_externo" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="altaEnvio">
        <xs:sequence>
          <xs:element name="envio_type" type="tns:tipo_envio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tipo_envio">
        <xs:all>
          <xs:element name="organismo_emisor" type="tns:tipoOrganismoEmisor"/>
          <xs:element name="organismo_pagador_correos" type="tns:tipoOrganismoPagadorCorreos" nillable="true"/>
          <xs:element name="organismo_pagador_cie" type="tns:tipoOrganismoPagadorCIE" nillable="true"/>
          <xs:element name="documento" type="tns:documento"/>
          <xs:element name="tipo_envio" type="xs:string"/>
          <xs:element name="fecha_envio_programado" type="xs:dateTime" nillable="true"/>
          <xs:element name="concepto" type="xs:string"/>
          <xs:element name="destinatarios" type="tns:ArrayOfTipo_destinatario"/>
          <xs:element name="procedimiento" type="tns:tipo_procedimiento" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipoOrganismoEmisor">
        <xs:all>
          <xs:element name="codigo_dir3" type="xs:string"/>
          <xs:element name="nombre" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipoOrganismoPagadorCorreos">
        <xs:all>
          <xs:element name="codigo_dir3" type="xs:string"/>
          <xs:element name="numero_contrato_correos" type="xs:string"/>
          <xs:element name="codigo_cliente_facturacion_correos" type="xs:string"/>
          <xs:element name="fecha_vigencia" type="xs:date"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipoOrganismoPagadorCIE">
        <xs:all>
          <xs:element name="codigo_dir3" type="xs:string"/>
          <xs:element name="fecha_vigencia" type="xs:date"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="documento">
        <xs:all>
          <xs:element name="contenido" type="xs:string"/>
          <xs:element name="hash_sha1" type="xs:string"/>
          <xs:element name="normalizado" type="xs:string"/>
          <xs:element name="generar_csv" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="ArrayOfTipo_destinatario">
        <xs:sequence>
          <xs:element name="item" type="tns:tipo_destinatario" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tipo_destinatario">
        <xs:all>
          <xs:element name="referencia_emisor" type="xs:string" nillable="true"/>
          <xs:element name="titular" type="tns:tipo_persona_destinatario"/>
          <xs:element name="destinatario" type="tns:tipo_persona_destinatario"/>
          <xs:element name="tipo_domicilio" type="xs:string" nillable="true"/>
          <xs:element name="domicilio" type="tns:tipo_domicilio" nillable="true"/>
          <xs:element name="servicio" type="xs:string"/>
          <xs:element name="direccion_electronica" type="tns:direccion_electronica_habilitada" nillable="true"/>
          <xs:element name="opciones_emision" type="tns:opciones_emision" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipo_persona_destinatario">
        <xs:all>
          <xs:element name="telefono" type="xs:string" nillable="true"/>
          <xs:element name="email" type="xs:string" nillable="true"/>
          <xs:element name="nif" type="xs:string" nillable="true"/>
          <xs:element name="nombre" type="xs:string"/>
          <xs:element name="apellidos" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipo_domicilio">
        <xs:all>
          <xs:element name="tipo_domicilio_concreto" type="xs:string" nillable="true"/>
          <xs:element name="tipo_via" type="xs:string" nillable="true"/>
          <xs:element name="nombre_via" type="xs:string" nillable="true"/>
          <xs:element name="numero_casa" type="xs:string" nillable="true"/>
          <xs:element name="punto_kilometrico" type="xs:string" nillable="true"/>
          <xs:element name="apartado_correos" type="xs:string" nillable="true"/>
          <xs:element name="calificador_numero" type="xs:string" nillable="true"/>
          <xs:element name="bloque" type="xs:string" nillable="true"/>
          <xs:element name="portal" type="xs:string" nillable="true"/>
          <xs:element name="escalera" type="xs:string" nillable="true"/>
          <xs:element name="planta" type="xs:string" nillable="true"/>
          <xs:element name="puerta" type="xs:string" nillable="true"/>
          <xs:element name="complemento" type="xs:string" nillable="true"/>
          <xs:element name="poblacion" type="xs:string" nillable="true"/>
          <xs:element name="municipio" type="tns:tipo_municipio" nillable="true"/>
          <xs:element name="codigo_postal" type="xs:string" nillable="true"/>
          <xs:element name="provincia" type="tns:tipo_provincia" nillable="true"/>
          <xs:element name="pais" type="tns:tipo_pais" nillable="true"/>
          <xs:element name="linea_1" type="xs:string" nillable="true"/>
          <xs:element name="linea_2" type="xs:string" nillable="true"/>
          <xs:element name="cie" type="xs:int" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipo_municipio">
        <xs:all>
          <xs:element name="codigo_ine" type="xs:string" nillable="true"/>
          <xs:element name="nombre" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipo_provincia">
        <xs:all>
          <xs:element name="codigo_provincia" type="xs:string" nillable="true"/>
          <xs:element name="nombre" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipo_pais">
        <xs:all>
          <xs:element name="codigo_iso3166" type="xs:string" nillable="true"/>
          <xs:element name="nombre" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="direccion_electronica_habilitada">
        <xs:all>
          <xs:element name="obligado" type="xs:boolean"/>
          <xs:element name="nif" type="xs:string"/>
          <xs:element name="codigo_procedimiento" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="opciones_emision">
        <xs:all>
          <xs:element name="retardo_postal_deh" type="xs:int" nillable="true"/>
          <xs:element name="caducidad" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="tipo_procedimiento">
        <xs:all>
          <xs:element name="codigo_sia" type="xs:string" nillable="true"/>
          <xs:element name="descripcion_sia" type="xs:string" nillable="true"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="altaEnvioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultado_alta" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultado_alta">
        <xs:all>
          <xs:element name="identificadores" type="tns:ArrayOfIdentificador_envio"/>
          <xs:element name="codigo_csv" type="xs:string" nillable="true"/>
          <xs:element name="codigo_respuesta" type="xs:string"/>
          <xs:element name="descripcion_respuesta" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="ArrayOfIdentificador_envio">
        <xs:sequence>
          <xs:element name="item" type="tns:identificador_envio" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoEnvio">
        <xs:sequence>
          <xs:element name="info_envio" type="tns:info_enviament" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="info_enviament">
        <xs:sequence>
          <xs:element name="envio_destinatario" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoEnvioResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultadoInfoEnvio" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultadoInfoEnvio">
        <xs:all>
          <xs:element name="infoEnvio" type="tns:tipo_envio"/>
          <xs:element name="certificada" type="xs:boolean"/>
          <xs:element name="codigo_respuesta" type="xs:string"/>
          <xs:element name="descripcion_respuesta" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="consultaCies">
        <xs:sequence>
          <xs:element name="consulta_cies" type="tns:consulta_cie" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consulta_cie">
        <xs:sequence>
          <xs:element name="organismo_emisor" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultaCiesResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:resultadoGetCies" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="resultadoGetCies">
        <xs:all>
          <xs:element name="cies" type="tns:ArrayOfCie"/>
          <xs:element name="codigo_respuesta" type="xs:string"/>
          <xs:element name="descripcion_respuesta" type="xs:string"/>
        </xs:all>
      </xs:complexType>

      <xs:complexType name="ArrayOfCie">
        <xs:sequence>
          <xs:element name="item" type="tns:cie" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cie">
        <xs:all>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="centro_impresion" type="xs:string"/>
          <xs:element name="fecha_vigencia" type="xs:date"/>
          <xs:element name="codigo_unidad_relacionada" type="xs:string"/>
          <xs:element name="nombre_unidad_relacionada" type="xs:string"/>
          <xs:element name="orden" type="xs:int"/>
        </xs:all>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="header">
    <part name="api_key" type="xsd:string"/>
  </message>
  <message name="altaEnvio">
    <part name="parameters" element="tns:altaEnvio"/>
  </message>
  <message name="altaEnvioResponse">
    <part name="parameters" element="tns:altaEnvioResponse"/>
  </message>
  <message name="consultaEstado">
    <part name="parameters" element="tns:consultaEstado"/>
  </message>
  <message name="consultaEstadoResponse">
    <part name="parameters" element="tns:consultaEstadoResponse"/>
  </message>
  <message name="consultaCies">
    <part name="parameters" element="tns:consultaCies"/>
  </message>
  <message name="consultaCiesResponse">
    <part name="parameters" element="tns:consultaCiesResponse"/>
  </message>
  <message name="infoEnvio">
    <part name="parameters" element="tns:infoEnvio"/>
  </message>
  <message name="infoEnvioResponse">
    <part name="parameters" element="tns:infoEnvioResponse"/>
  </message>
  <message name="consultaCertificacionEnvio">
    <part name="parameters" element="tns:consultaCertificacionEnvio"/>
  </message>
  <message name="consultaCertificacionEnvioResponse">
    <part name="parameters" element="tns:consultaCertificacionEnvioResponse"/>
  </message>
  <message name="consultaDatadoEnvio">
    <part name="parameters" element="tns:consultaDatadoEnvio"/>
  </message>
  <message name="consultaDatadoEnvioResponse">
    <part name="parameters" element="tns:consultaDatadoEnvioResponse"/>
  </message>
  <portType name="NotificaWsPortType">
    <operation name="altaEnvio">
      <input wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/altaEnvioRequest" message="tns:altaEnvio"/>
      <output wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/altaEnvioResponse" message="tns:altaEnvioResponse"/>
    </operation>
    <operation name="consultaEstado">
      <input wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaEstadoRequest" message="tns:consultaEstado"/>
      <output wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaEstadoResponse" message="tns:consultaEstadoResponse"/>
    </operation>
    <operation name="consultaCies">
      <input wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaCiesRequest" message="tns:consultaCies"/>
      <output wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaCiesResponse" message="tns:consultaCiesResponse"/>
    </operation>
    <operation name="infoEnvio">
      <input wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/infoEnvioRequest" message="tns:infoEnvio"/>
      <output wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/infoEnvioResponse" message="tns:infoEnvioResponse"/>
    </operation>
    <operation name="consultaCertificacionEnvio">
      <input wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaCertificacionEnvioRequest" message="tns:consultaCertificacionEnvio"/>
      <output wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaCertificacionEnvioResponse" message="tns:consultaCertificacionEnvioResponse"/>
    </operation>
    <operation name="consultaDatadoEnvio">
      <input wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaDatadoEnvioRequest" message="tns:consultaDatadoEnvio"/>
      <output wsam:Action="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/NotificaWs/consultaDatadoEnvioResponse" message="tns:consultaDatadoEnvioResponse"/>
    </operation>
  </portType>
  <binding name="NotificaWsPortBinding" type="tns:NotificaWsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="altaEnvio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaEstado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaCies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="infoEnvio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaCertificacionEnvio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaDatadoEnvio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NotificaWsService">
    <port name="NotificaWsPort" binding="tns:NotificaWsPortBinding">
      <soap:address location="https://se-notificaws.redsara.es:1443/ws/soap/NotificaWS"/>
    </port>
  </service>
</definitions>

