notib-core/src/main/resources/es/caib/notib/core/wsdl/NotificaWsV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/"
             xmlns:not="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/altaRemesaEnvios"
             xmlns:info="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/infoEnvioV2"
             xmlns:cie="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/getCies"
             name="NotificaWsV2">
    <portType name="NotificaWsV2PortType">
        <operation name="altaRemesaEnvios">
            <input message="tns:altaRemesaEnviosRequest"/>
            <output message="tns:altaRemesaEnviosResponse"/>
        </operation>
        <operation name="infoEnvioV2">
            <input message="tns:infoEnvioV2Request"/>
            <output message="tns:infoEnvioV2Response"/>
        </operation>
        <operation name="getCies">
            <input message="tns:getCiesRequest"/>
            <output message="tns:getCiesResponse"/>
        </operation>
    </portType>
    <types>
        <xsd:schema targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/">
            <xsd:import namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/altaRemesaEnvios" schemaLocation="NotificaWsV2/altaRemesaEnvios.xsd" />
            <xsd:import namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/infoEnvioV2" schemaLocation="NotificaWsV2/infoEnvioV2.xsd" />
            <xsd:import namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/getCies" schemaLocation="NotificaWsV2/getCies.xsd" />
        </xsd:schema>
    </types>
    <message name="altaRemesaEnviosHeader">
        <part name="apiKey" type="xsd:string"/>
    </message>
    <message name="altaRemesaEnviosRequest">
        <part name="altaRemesaEnvios" type="not:altaRemesaEnvios"/>
    </message>
    <message name="altaRemesaEnviosResponse">
        <part name="resultadoAltaRemesaEnvios" type="not:resultadoAltaRemesaEnvios"/>
    </message>
    <message name="infoEnvioV2Header">
        <part name="apiKey" type="xsd:string"/>
    </message>
    <message name="infoEnvioV2Request">
        <part name="infoEnvioV2" type="info:infoEnvioV2"/>
    </message>
    <message name="infoEnvioV2Response">
        <part name="resultadoInfoEnvioV2" type="info:resultadoInfoEnvioV2"/>
    </message>
    <message name="getCiesHeader">
        <part name="apiKey" type="xsd:string"/>
    </message>
    <message name="getCiesRequest">
        <part name="getCies" type="cie:getCies"/>
    </message>
    <message name="getCiesResponse">
        <part name="resultadoGetCies" type="cie:resultadoGetCies"/>
    </message>
    <service name="NotificaWsV2Service">
        <port name="NotificaWsV2Port" binding="tns:NotificaWsV2Binding">
            <soap:address location="https://se-notificaws.redsara.es/ws/notificaWsV2"/>
        </port>
    </service>
    <binding name="NotificaWsV2Binding" type="tns:NotificaWsV2PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="altaRemesaEnvios">
            <soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/altaRemesaEnvios"/>
            <input>
                <soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                <soap:header part="apiKey" message="tns:altaRemesaEnviosHeader" use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="infoEnvioV2">
            <soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/infoEnvioV2"/>
            <input>
                <soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                <soap:header part="apiKey" message="tns:infoEnvioV2Header" use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="getCies">
            <soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/getCies"/>
            <input>
                <soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
                <soap:header part="apiKey" message="tns:getCiesHeader" use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notificaws_v2/1.0/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
</definitions>