notib-core/src/main/resources/es/caib/notib/core/wsdl/SedeWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SedeWs"
	targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/">

	<portType name="SedeWsPortType">
		<operation name="getEnvios">
			<input message="tns:getEnviosRequest" />
			<output message="tns:getEnviosResponse" />
		</operation>
		<operation name="getEnvios2">
			<input message="tns:getEnvios2Request" />
			<output message="tns:getEnvios2Response" />
		</operation>
		<operation name="infoEnvio">
			<input message="tns:infoEnvioRequest" />
			<output message="tns:infoEnvioResponse" />
		</operation>
		<operation name="infoEnvio2">
			<input message="tns:infoEnvio2Request" />
			<output message="tns:infoEnvio2Response" />
		</operation>
		<operation name="certificacionSede">
			<input message="tns:certificacionSedeRequest" />
			<output message="tns:certificacionSedeResponse" />
		</operation>
		<operation name="comunicacionSede">
			<input message="tns:comunicacionSedeRequest" />
			<output message="tns:comunicacionSedeResponse" />
		</operation>
		<operation name="getEnviosAgrupados">
			<input message="tns:getEnviosAgrupadosRequest" />
			<output message="tns:getEnviosAgrupadosResponse" />
		</operation>
		<operation name="getEnviosAgrupados2">
			<input message="tns:getEnviosAgrupados2Request" />
			<output message="tns:getEnviosAgrupados2Response" />
		</operation>
		<operation name="getCertificacion">
			<input message="tns:getCertificacionRequest" />
			<output message="tns:getCertificacionResponse" />
		</operation>
		<operation name="consultaOrganismosActivos">
			<input message="tns:consultaOrganismosActivosRequest" />
			<output message="tns:consultaOrganismosActivosResponse" />
		</operation>
	</portType>

	<types>
		<xsd:schema targetNamespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/">
			<xsd:complexType name="codigos_sia">
				<xsd:all>
					<xsd:element name="codigo_sia" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfCodigos_sia">
				<xsd:sequence>
					<xsd:element name="item" type="tns:codigos_sia" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="get_envios">
				<xsd:all>
					<xsd:element name="nif" type="xsd:string" />
					<xsd:element name="estado" type="xsd:string" nillable="true" />
					<xsd:element name="organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="codigos_sia" type="tns:ArrayOfCodigos_sia" nillable="true" />
					<xsd:element name="fecha_desde" type="xsd:dateTime" nillable="true" />
					<xsd:element name="fecha_hasta" type="xsd:dateTime" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultadoGetEnvio">
				<xsd:all>
					<xsd:element name="envio_destinatario" type="xsd:string" nillable="true" />
					<xsd:element name="estado" type="xsd:string" nillable="true" />
					<xsd:element name="concepto" type="xsd:string" nillable="true" />
					<xsd:element name="organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="fecha_notificacion" type="xsd:dateTime" nillable="true" />
					<xsd:element name="fecha_actualizacion" type="xsd:dateTime" nillable="true" />
					<xsd:element name="vinculo" type="xsd:string" nillable="true" />
					<xsd:element name="tipo_envio" type="xsd:string" nillable="true" />
					<xsd:element name="canal_envio" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfResultadoGetEnvio">
				<xsd:sequence>
					<xsd:element name="item" type="tns:resultadoGetEnvio" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resultadoGetEnvios">
				<xsd:all>
					<xsd:element name="resultadoGetEnvios" type="tns:ArrayOfResultadoGetEnvio" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="get_envios2">
				<xsd:all>
					<xsd:element name="nif" type="xsd:string" nillable="true" />
					<xsd:element name="nif_representante" type="xsd:string" nillable="true" />
					<xsd:element name="estado" type="xsd:string" nillable="true" />
					<xsd:element name="organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="codigos_sia" type="tns:ArrayOfCodigos_sia" nillable="true" />
					<xsd:element name="fecha_desde" type="xsd:dateTime" nillable="true" />
					<xsd:element name="fecha_hasta" type="xsd:dateTime" nillable="true" />
					<xsd:element name="tipo_envio" type="xsd:string" nillable="true" />
					<xsd:element name="rea" type="xsd:boolean" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultadoGetEnvio2">
				<xsd:all>
					<xsd:element name="envio_destinatario" type="xsd:string" nillable="true" />
					<xsd:element name="estado" type="xsd:string" nillable="true" />
					<xsd:element name="concepto" type="xsd:string" nillable="true" />
					<xsd:element name="organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="nombre_organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="fecha_creacion" type="xsd:dateTime" nillable="true" />
					<xsd:element name="fecha_actualizacion" type="xsd:dateTime" nillable="true" />
					<xsd:element name="vinculo" type="xsd:string" nillable="true" />
					<xsd:element name="tipo_envio" type="xsd:string" nillable="true" />
					<xsd:element name="canal_envio" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfResultadoGetEnvio2">
				<xsd:sequence>
					<xsd:element name="item" type="tns:resultadoGetEnvio2" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resultadoGetEnvios2">
				<xsd:all>
					<xsd:element name="resultadoGetEnvios2" type="tns:ArrayOfResultadoGetEnvio2" />
					<xsd:element name="hayMasResultados" type="xsd:boolean" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="info_envio">
				<xsd:all>
					<xsd:element name="envio_destinatario" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipoOrganismoEmisor">
				<xsd:all>
					<xsd:element name="codigo_dir3" type="xsd:string" />
					<xsd:element name="nombre" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipoOrganismoPagadorCorreos">
				<xsd:all>
					<xsd:element name="codigo_dir3" type="xsd:string" />
					<xsd:element name="numero_contrato_correos" type="xsd:string" />
					<xsd:element name="codigo_cliente_facturacion_correos" type="xsd:string" />
					<xsd:element name="fecha_vigencia" type="xsd:date" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipoOrganismoPagadorCIE">
				<xsd:all>
					<xsd:element name="codigo_dir3" type="xsd:string" />
					<xsd:element name="fecha_vigencia" type="xsd:date" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="documento">
				<xsd:all>
					<xsd:element name="contenido" type="xsd:string" />
					<xsd:element name="hash_sha1" type="xsd:string" />
					<xsd:element name="normalizado" type="xsd:string" />
					<xsd:element name="generar_csv" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_persona_destinatario">
				<xsd:all>
					<xsd:element name="telefono" type="xsd:string" nillable="true" />
					<xsd:element name="email" type="xsd:string" nillable="true" />
					<xsd:element name="nif" type="xsd:string" nillable="true" />
					<xsd:element name="nombre" type="xsd:string" />
					<xsd:element name="apellidos" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_municipio">
				<xsd:all>
					<xsd:element name="codigo_ine" type="xsd:string" nillable="true" />
					<xsd:element name="nombre" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_provincia">
				<xsd:all>
					<xsd:element name="codigo_provincia" type="xsd:string" nillable="true" />
					<xsd:element name="nombre" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_pais">
				<xsd:all>
					<xsd:element name="codigo_iso3166" type="xsd:string" nillable="true" />
					<xsd:element name="nombre" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_domicilio">
				<xsd:all>
					<xsd:element name="tipo_domicilio_concreto" type="xsd:string" nillable="true" />
					<xsd:element name="tipo_via" type="xsd:string" nillable="true" />
					<xsd:element name="nombre_via" type="xsd:string" nillable="true" />
					<xsd:element name="numero_casa" type="xsd:string" nillable="true" />
					<xsd:element name="punto_kilometrico" type="xsd:string" nillable="true" />
					<xsd:element name="apartado_correos" type="xsd:string" nillable="true" />
					<xsd:element name="calificador_numero" type="xsd:string" nillable="true" />
					<xsd:element name="bloque" type="xsd:string" nillable="true" />
					<xsd:element name="portal" type="xsd:string" nillable="true" />
					<xsd:element name="escalera" type="xsd:string" nillable="true" />
					<xsd:element name="planta" type="xsd:string" nillable="true" />
					<xsd:element name="puerta" type="xsd:string" nillable="true" />
					<xsd:element name="complemento" type="xsd:string" nillable="true" />
					<xsd:element name="poblacion" type="xsd:string" nillable="true" />
					<xsd:element name="municipio" type="tns:tipo_municipio" nillable="true" />
					<xsd:element name="codigo_postal" type="xsd:string" nillable="true" />
					<xsd:element name="provincia" type="tns:tipo_provincia" nillable="true" />
					<xsd:element name="pais" type="tns:tipo_pais" nillable="true" />
					<xsd:element name="linea_1" type="xsd:string" nillable="true" />
					<xsd:element name="linea_2" type="xsd:string" nillable="true" />
					<xsd:element name="cie" type="xsd:int" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="direccion_electronica_habilitada">
				<xsd:all>
					<xsd:element name="obligado" type="xsd:boolean" />
					<xsd:element name="nif" type="xsd:string" />
					<xsd:element name="codigo_procedimiento" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="opciones_emision">
				<xsd:all>
					<xsd:element name="retardo_postal_deh" type="xsd:int" nillable="true" />
					<xsd:element name="caducidad" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_destinatario">
				<xsd:all>
					<xsd:element name="referencia_emisor" type="xsd:string" />
					<xsd:element name="titular" type="tns:tipo_persona_destinatario" />
					<xsd:element name="destinatario" type="tns:tipo_persona_destinatario" />
					<xsd:element name="tipo_domicilio" type="xsd:string" nillable="true" />
					<xsd:element name="domicilio" type="tns:tipo_domicilio" nillable="true" />
					<xsd:element name="servicio" type="xsd:string" />
					<xsd:element name="direccion_electronica" type="tns:direccion_electronica_habilitada"
						nillable="true" />
					<xsd:element name="opciones_emision" type="tns:opciones_emision" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfTipo_destinatario">
				<xsd:sequence>
					<xsd:element name="item" type="tns:tipo_destinatario" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipo_procedimiento">
				<xsd:all>
					<xsd:element name="codigo_sia" type="xsd:string" nillable="true" />
					<xsd:element name="descripcion_sia" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_envio">
				<xsd:all>
					<xsd:element name="organismo_emisor" type="tns:tipoOrganismoEmisor" />
					<xsd:element name="organismo_pagador_correos" type="tns:tipoOrganismoPagadorCorreos"
						nillable="true" />
					<xsd:element name="organismo_pagador_cie" type="tns:tipoOrganismoPagadorCIE" nillable="true" />
					<xsd:element name="documento" type="tns:documento" />
					<xsd:element name="tipo_envio" type="xsd:string" />
					<xsd:element name="fecha_envio_programado" type="xsd:dateTime" nillable="true" />
					<xsd:element name="concepto" type="xsd:string" />
					<xsd:element name="destinatarios" type="tns:ArrayOfTipo_destinatario" />
					<xsd:element name="procedimiento" type="tns:tipo_procedimiento" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultadoInfoEnvio">
				<xsd:all>
					<xsd:element name="infoEnvio" type="tns:tipo_envio" />
					<xsd:element name="certificada" type="xsd:boolean" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="tipo_destinatario2">
				<xsd:all>
					<xsd:element name="referencia_emisor" type="xsd:string" />
					<xsd:element name="titular" type="tns:tipo_persona_destinatario" />
					<xsd:element name="destinatario" type="tns:tipo_persona_destinatario" />
					<xsd:element name="servicio" type="xsd:string" />
					<xsd:element name="opciones_emision" type="tns:opciones_emision" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfTipo_destinatario2">
				<xsd:sequence>
					<xsd:element name="item" type="tns:tipo_destinatario2" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="info_envio2">
				<xsd:all>
					<xsd:element name="organismo_emisor" type="tns:tipoOrganismoEmisor" />
					<xsd:element name="mime" type="xsd:string" />
					<xsd:element name="tipo_envio" type="xsd:string" />
					<xsd:element name="concepto" type="xsd:string" />
					<xsd:element name="destinatarios" type="tns:ArrayOfTipo_destinatario2" />
					<xsd:element name="procedimiento" type="tns:tipo_procedimiento" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultadoInfoEnvio2">
				<xsd:all>
					<xsd:element name="infoEnvio" type="tns:info_envio2" />
					<xsd:element name="certificada" type="xsd:boolean" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="certificacion_sede">
				<xsd:all>
					<xsd:element name="organismo_remisor" type="xsd:string" />
					<xsd:element name="documento" type="xsd:string" />
					<xsd:element name="hash_documento" type="xsd:string" />
					<xsd:element name="envio_destinatario" type="xsd:string" />
					<xsd:element name="csv" type="xsd:string" nillable="true" />
					<xsd:element name="estado" type="xsd:string" nillable="true" />
					<xsd:element name="fecha" type="xsd:dateTime" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultado_certificacion_sede">
				<xsd:all>
					<xsd:element name="envio_destinatario_id" type="xsd:string" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="comunicacion_sede">
				<xsd:all>
					<xsd:element name="organismo_remisor" type="xsd:string" />
					<xsd:element name="identificador_destinatario" type="xsd:string" />
					<xsd:element name="fecha" type="xsd:dateTime" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultado_comunicacion_sede">
				<xsd:all>
					<xsd:element name="identificador_destinatario" type="xsd:string" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="get_envios_agrupados">
				<xsd:all>
					<xsd:element name="nif" type="xsd:string" />
					<xsd:element name="estado" type="xsd:string" nillable="true" />
					<xsd:element name="organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="codigos_sia" type="tns:ArrayOfCodigos_sia" nillable="true" />
					<xsd:element name="fecha_desde" type="xsd:dateTime" nillable="true" />
					<xsd:element name="fecha_hasta" type="xsd:dateTime" nillable="true" />
					<xsd:element name="tipo_envio" type="xsd:string" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PorOrganismoRemisor">
				<xsd:all>
					<xsd:element name="organismoRemisor" type="xsd:string" />
					<xsd:element name="nombreOrganismoRemisor" type="xsd:string" />
					<xsd:element name="estado_notificado" type="xsd:int" />
					<xsd:element name="estado_pendiente" type="xsd:int" />
					<xsd:element name="totales" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPorOrganismoRemisor">
				<xsd:sequence>
					<xsd:element name="item" type="tns:PorOrganismoRemisor" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PorCodigoSia">
				<xsd:all>
					<xsd:element name="codigoSia" type="xsd:string" />
					<xsd:element name="descripcionSia" type="xsd:string" />
					<xsd:element name="estado_notificado" type="xsd:int" />
					<xsd:element name="estado_pendiente" type="xsd:int" />
					<xsd:element name="totales" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPorCodigoSia">
				<xsd:sequence>
					<xsd:element name="item" type="tns:PorCodigoSia" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PorEstado">
				<xsd:all>
					<xsd:element name="estado_notificado" type="xsd:int" />
					<xsd:element name="estado_pendiente" type="xsd:int" />
					<xsd:element name="totales" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultadoGetEnviosAgrupados">
				<xsd:all>
					<xsd:element name="porOrganismoRemisor" type="tns:ArrayOfPorOrganismoRemisor" />
					<xsd:element name="porCodigoSia" type="tns:ArrayOfPorCodigoSia" />
					<xsd:element name="porEstado" type="tns:PorEstado" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="get_envios_agrupados2">
				<xsd:all>
					<xsd:element name="nif" type="xsd:string" />
					<xsd:element name="nif_representante" type="xsd:string" nillable="true" />
					<xsd:element name="organismo_remisor" type="xsd:string" nillable="true" />
					<xsd:element name="codigos_sia" type="tns:ArrayOfCodigos_sia" nillable="true" />
					<xsd:element name="fecha_desde" type="xsd:dateTime" nillable="true" />
					<xsd:element name="fecha_hasta" type="xsd:dateTime" nillable="true" />
					<xsd:element name="rea" type="xsd:boolean" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PorOrganismoRemisor2">
				<xsd:all>
					<xsd:element name="organismoRemisor" type="xsd:string" />
					<xsd:element name="nombreOrganismoRemisor" type="xsd:string" />
					<xsd:element name="notificaciones_realizadas" type="xsd:int" />
					<xsd:element name="comunicaciones_realizadas" type="xsd:int" />
					<xsd:element name="notificaciones_pendientes" type="xsd:int" />
					<xsd:element name="comunicaciones_pendientes" type="xsd:int" />
					<xsd:element name="total_organismo" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPorOrganismoRemisor2">
				<xsd:sequence>
					<xsd:element name="item" type="tns:PorOrganismoRemisor2" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PorCodigoSia2">
				<xsd:all>
					<xsd:element name="codigoSia" type="xsd:string" />
					<xsd:element name="descripcionSia" type="xsd:string" />
					<xsd:element name="estado_notificado" type="xsd:int" />
					<xsd:element name="estado_pendiente" type="xsd:int" />
					<xsd:element name="totales" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfPorCodigoSia2">
				<xsd:sequence>
					<xsd:element name="item" type="tns:PorCodigoSia2" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PorEstado2">
				<xsd:all>
					<xsd:element name="notificaciones_realizadas" type="xsd:int" />
					<xsd:element name="notificaciones_pendientes" type="xsd:int" />
					<xsd:element name="comunicaciones_realizadas" type="xsd:int" />
					<xsd:element name="comunicaciones_pendientes" type="xsd:int" />
					<xsd:element name="totales" type="xsd:int" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultadoGetEnviosAgrupados2">
				<xsd:all>
					<xsd:element name="porOrganismoRemisor" type="tns:ArrayOfPorOrganismoRemisor2" />
					<xsd:element name="porCodigoSia" type="tns:ArrayOfPorCodigoSia2" />
					<xsd:element name="porEstado" type="tns:PorEstado2" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="get_certificacion">
				<xsd:all>
					<xsd:element name="envio_destinatario" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="resultado_get_certificacion">
				<xsd:all>
					<xsd:element name="contenido" type="xsd:string" />
					<xsd:element name="hash" type="xsd:string" />
					<xsd:element name="acuse_o_sobre" type="xsd:string" />
					<xsd:element name="fecha" type="xsd:string" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfTipoOrganismoEmisor">
				<xsd:sequence>
					<xsd:element name="item" type="tns:tipoOrganismoEmisor" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resultado_organismos_activos">
				<xsd:all>
					<xsd:element name="organismos" type="tns:ArrayOfTipoOrganismoEmisor" />
					<xsd:element name="codigo_respuesta" type="xsd:string" />
					<xsd:element name="descripcion_respuesta" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="getEnviosHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="getEnviosRequest">
		<part name="get_envios" type="tns:get_envios" />
	</message>
	<message name="getEnviosResponse">
		<part name="return" type="tns:resultadoGetEnvios" />
	</message>
	<message name="getEnvios2Header">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="getEnvios2Request">
		<part name="get_envios2" type="tns:get_envios2" />
	</message>
	<message name="getEnvios2Response">
		<part name="return" type="tns:resultadoGetEnvios2" />
	</message>
	<message name="infoEnvioHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="infoEnvioRequest">
		<part name="info_envio" type="tns:info_envio" />
	</message>
	<message name="infoEnvioResponse">
		<part name="return" type="tns:resultadoInfoEnvio" />
	</message>
	<message name="infoEnvio2Header">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="infoEnvio2Request">
		<part name="info_envio2" type="tns:info_envio" />
	</message>
	<message name="infoEnvio2Response">
		<part name="return" type="tns:resultadoInfoEnvio2" />
	</message>
	<message name="certificacionSedeHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="certificacionSedeRequest">
		<part name="certificacion_sede" type="tns:certificacion_sede" />
	</message>
	<message name="certificacionSedeResponse">
		<part name="return" type="tns:resultado_certificacion_sede" />
	</message>
	<message name="comunicacionSedeHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="comunicacionSedeRequest">
		<part name="comunicacion_sede" type="tns:comunicacion_sede" />
	</message>
	<message name="comunicacionSedeResponse">
		<part name="return" type="tns:resultado_comunicacion_sede" />
	</message>
	<message name="getEnviosAgrupadosHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="getEnviosAgrupadosRequest">
		<part name="get_envios_agrupados" type="tns:get_envios_agrupados" />
	</message>
	<message name="getEnviosAgrupadosResponse">
		<part name="return" type="tns:resultadoGetEnviosAgrupados" />
	</message>
	<message name="getEnviosAgrupados2Header">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="getEnviosAgrupados2Request">
		<part name="get_envios_agrupados2" type="tns:get_envios_agrupados2" />
	</message>
	<message name="getEnviosAgrupados2Response">
		<part name="return" type="tns:resultadoGetEnviosAgrupados2" />
	</message>
	<message name="getCertificacionHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="getCertificacionRequest">
		<part name="get_certificacion" type="tns:get_certificacion" />
	</message>
	<message name="getCertificacionResponse">
		<part name="return" type="tns:resultado_get_certificacion" />
	</message>
	<message name="consultaOrganismosActivosHeader">
		<part name="api_key" type="xsd:string" />
	</message>
	<message name="consultaOrganismosActivosRequest" />
	<message name="consultaOrganismosActivosResponse">
		<part name="return" type="tns:resultado_organismos_activos" />
	</message>
	<service name="SedeWsService">
		<port name="SedeWsPort" binding="tns:SedeWsBinding">
			<soap:address location="https://se-notificaws.redsara.es/ws/soap/SedeWs" />
		</port>
	</service>
	<binding name="SedeWsBinding" type="tns:SedeWsPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="getEnvios">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/getEnvios" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="getEnvios2">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/getEnvios2" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="infoEnvio">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/infoEnvio" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="infoEnvio2">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/infoEnvio2" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="certificacionSede">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/certificacionSede" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="comunicacionSede">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/comunicacionSede" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="getEnviosAgrupados">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/getEnviosAgrupados" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="getEnviosAgrupados2">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/getEnviosAgrupados2" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="getCertificacion">
			<soap:operation soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/getCertificacion" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
		<operation name="consultaOrganismosActivos">
			<soap:operation
				soapAction="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/consultaOrganismosActivos" />
			<input>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://administracionelectronica.gob.es/notifica/ws/notifica/1.0/" />
			</output>
		</operation>
	</binding>
</definitions>
